body{
    color: #6200ff;
    background-image: url(333.jpg);
    background-size: cover;
 }
 .logo{
width: 180px;
}
.logo:hover{
width: 300px;
}
.logo2{
width: 100px;
box-shadow: 5px 10px 15px #000000;
}
.header{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 70px ;
color: #44944A;
text-shadow: 5px 10px 7px #000000;
}
.header:hover{
color: aqua;
}

.desk_os{
    border: 10px solid rgb(0, 255, 21);
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 5px 15px 25px rgb(4, 0, 255);
    width: 50%
}

.mobil_os{
    border: 10px solid rgb(0, 255, 21);
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 5px 15px 25px rgb(4, 0, 255);
    width: 30%
}

.server_os{
    border: 10px solid rgb(0, 255, 21);
     border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 5px 15px 25px rgb(4, 0, 255);
    width: 95%
}
.general{
    width: 60%;
    background-image: linear-gradient(45deg, rgb(0, 255, 64), red);
    border-radius: 20px;
}
.btn_os{
    width: 100px;
    background-color: #6200ff;
    text-decoration: none;
}